header {
    background-image: linear-gradient(to right, rgb(0, 128, 255), rgb(12, 3, 98));
}
.forecast {
    background: rgb(12, 3, 98);
}
ul {
    list-style-type: none;
}

.img-size {
    height: 50px;
    width: 50px;
}